<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rutina" href="/tabs/rutina">
      <ion-icon aria-hidden="true" src="assets/icon/rutina.svg"></ion-icon>
      <ion-label>Rutina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alimentacion" href="/tabs/alimentacion">
      <ion-icon aria-hidden="true" src="assets/icon/alimentacion.svg"></ion-icon>
      <ion-label>Alimentación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progreso" href="/tabs/progreso">
      <ion-icon aria-hidden="true" src="assets/icon/progreso.svg"></ion-icon>
      <ion-label>Progreso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon aria-hidden="true" src="assets/icon/perfil.svg"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
