:root {
	--ion-text-color: #FFFFFF;
	--ion-text-color-rgb: 255,255,255;


    --ion-tab-bar-color-selected: #A18BFF;
    --ion-toolbar-background: #172554;


    /* VARIABLES QUE FALTAN DEFINIR

    --ion-backdrop-color	Color of the Backdrop component
    --ion-backdrop-opacity	Opacity of the Backdrop component
    --ion-overlay-background-color	Background color of the overlays
    --ion-border-color	Border color
    --ion-box-shadow-color	Box shadow color
    --ion-tab-bar-background	Background of the Tab Bar
    --ion-tab-bar-background-focused	Background of the focused Tab Bar
    --ion-tab-bar-border-color	Border color of the Tab Bar
    --ion-tab-bar-color	Color of the Tab Bar
    --ion-tab-bar-color-selected	Color of the selected Tab Button
    --ion-toolbar-background	Background of the Toolbar
    --ion-toolbar-border-color	Border color of the Toolbar
    --ion-toolbar-color	Color of the components in the Toolbar
    --ion-toolbar-segment-color	Color of the Segment Buttons in the Toolbar
    --ion-toolbar-segment-color-checked	Color of the checked Segment Buttons in the Toolbar
    --ion-toolbar-segment-background	Background of the Segment Buttons in the Toolbar
    --ion-toolbar-segment-background-checked	Background of the Segment Buttons in the Toolbar
    --ion-toolbar-segment-indicator-color	Color of the Segment Button indicator in the Toolbar
    --ion-item-background	Background of the Item
    --ion-item-border-color	Border color of the Item
    --ion-item-color	Color of the components in the Item
    --ion-placeholder-color
    */
}